<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Filter Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">
    <script src="filterPlay.js"></script>
</head>
<body>
<div  ng-controller="pageCtrl" class="container">
    <input type="text" ng-model="search" placeholder="Search"/><br/>
    <br/>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>col1</th>

        </tr>
        </thead>
        <tbody ng-repeat="data in filtered | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
        <tr>
            <td>{{data.name}}</td>
        </tr>
        </tbody>


    </table>
    <pagination data-boundary-links="true"  data-num-pages="noOfPages" data-current-page="currentPage" max-size="maxSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
</div>
</body>
</html>