<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="optionMatcher.js"></script>


</head>
<body>
<div ng-app="app" ng-controller="MyCtrl" class="container">

    <input type="radio" ng-value=a.a ng-model="a.myRating" name="rating" class="radio"> {{a.a}}
    <input type="radio" ng-value=a.b ng-model="a.myRating" name="rating" class="radio"> {{a.b}}
    <input type="radio" ng-value=a.c ng-model="a.myRating" name="rating" class="radio"> {{a.c}}
    <input type="radio" ng-value=a.d ng-model="a.myRating" name="rating" class="radio"> {{a.d}}

    <h3>
        {{a.myRating}}
    </h3>

    <div id="options">
        <input type="radio" id="q1" name="option" ng-value={{optionA}} ng-model="radioButtonValue"> Option A
        <input type="radio" id="q2" name="option" ng-value={{optionB}}  ng-model="radioButtonValue" checked="checked"> Option B
    </div>

    <h3>
        {{radioButtonValue}}
    </h3>

    <h2>Option Matcher</h2>

    <p>Please validate if these options are the same:</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{col1}}</th>
            <th>Option2</th>
            <th>Are they the same?</th>
            <th>Please select which option to use as a default</th>
            <th>Debug values</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(i, option) in optionList track by $index">
            <td>
                <button type="button" class="btn btn-primary" >{{option.option1}}</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary"  >{{option.option2}}</button>
            </td>
            <td>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input type="radio" name=optionList[i].id ng-value=true ng-model=optionList[i].isTheSame  autocomplete="off" checked> Yes
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name=optionList[i].id ng-value=false ng-model=optionList[i].isTheSame autocomplete="off"> No
                    </label>
                </div>
            </td>
            <td>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-warning">
                        <input type="radio" name=optionList[i].id2  ng-value=optionList[i].option1 ng-model=optionList[i].defaultOption  autocomplete="off" checked>{{option.option1}}
                    </label>
                    <label class="btn btn-warning">
                        <input type="radio" name=optionList[i].id2  ng-value=optionList[i].option2 ng-model=optionList[i].defaultOption  autocomplete="off">{{option.option2}}
                    </label>
                </div>
            </td>
            <td>
                <h5>
                    {{i}}
                    {{optionList[i].isTheSame}}
                    {{optionList[i].defaultOption}}
                </h5>
            </td>
        </tr>
        </tbody>
    </table>


    <div ng-repeat="option in optionList">
        <button type="button" class="btn btn-default">{{option.defaultOption}}</button>
    </div>

    <h2>Button Styles</h2>

    <div class="btn-group">
        <button type="button" class="btn btn-default">Default</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-success">Success</button>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
    </div>

    <button type="button" class="btn btn-danger">Danger</button>

</div>


</body>
</html>
